<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


    <title>Home Page</title>
</head>

<body>



    <div class="container">
        <section class="header">
            <div class="top-nav">
                <div class="logo">
                    <i class="fa-solid fa-bars logo-icon" id="logoIcon"></i>

                    <img src="/images/logo-website.png" alt="website logo">

                    <div class="for-users">
                        <a href="/login">Login</a>
                        <a href="/users">Admin</a>
                    </div>
                </div>


                <div class="intro">
                    <div class="intro-icon">
                        <h3 class="title">Specialist</h3>
                        <span>Find doctor by specialty</span>
                    </div>

                    <div class="intro-icon">
                        <h3 class="title">Health Facilities</h3>
                        <span>Select a clinic</span>
                    </div>

                    <div class="intro-icon">
                        <h3 class="title">Doctors</h3>
                        <span>Choose your doctor</span>
                    </div>

                    <div class="intro-icon">
                        <h3 class="title">Exam package</h3>
                        <span>General health checkup</span>
                    </div>
                </div>

                <div class="support">
                    <span>
                        <i class="fa-solid fa-circle-question"></i>
                        Support
                    </span>
                </div>
            </div>

            <div class="image-nav">
                <div class="image-title">
                    SPECIALIST MEDICAL EXAMINATION PLATFORM
                </div>

                <div class="search-btn">
                    <i class="fa-solid fa-search"></i>

                    <input class="search-input" type="text" name="searchBtn" placeholder="Search Here...">
                </div>
            </div>

            <div class="bottom-nav">
                <div class="bottom-nav-item">
                    <i class="fa-solid fa-check"></i>
                    <span>Big Hospital</span>
                </div>

                <div class="bottom-nav-item">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span>Good Clinic</span>
                </div>

                <div class="bottom-nav-item">
                    <i class="fa-solid fa-user-nurse"></i>
                    <span>Good Doctor</span>
                </div>

                <div class="bottom-nav-item">
                    <i class="fa-solid fa-clock"></i>
                    <span>Priority Examination</span>
                </div>
            </div>
        </section>

        <section class="popular-specialty">
            <div class="title-section">
                <span class="span-title">Popular Specialty</span>

                <div class="view-btn">
                    <a href="/">
                        <span>ALL SPECIALTIES</span>
                    </a>
                </div>
            </div>

            <div class="slide ">
                <div class="my-slick-slide">
                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>Heart</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>Nerve</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>Digest</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">

                        </div>

                        <div class="div-title">
                            <span>Traditional medicine</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">

                        </div>

                        <div class="div-title">
                            <span>Acupuncture</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hospital-and-clinic">
            <div class="title-section">
                <span class="span-title">Top Hospitals & Clinics</span>

                <div class="view-btn">
                    <a href="/">
                        <span>ALL MEDICAL FACILITIES</span>
                    </a>
                </div>
            </div>

            <div class="slide">
                <div class="my-slick-slide">
                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>K Hospital</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>D Hospital</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>ABC Clinic</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">

                        </div>

                        <div class="div-title">
                            <span>ABC Hospital</span>
                        </div>
                    </div>

                    <div class="div-slide">
                        <div class="image-slide">
                        </div>

                        <div class="div-title">
                            <span>D Hospital</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="doctors">
            <div class="title-section">
                <span class="span-title">Outstanding Doctors</span>

                <div class="view-btn">
                    <a href="/">
                        <span>ALL DOCTORS</span>
                    </a>
                </div>
            </div>

            <div class="slide ">
                <div class="my-slick-slide">
                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="doctor-image" class="doctor-img">
                        <div class="doctors-info">
                            <span class="name">Doctor1</span>
                            <span class="specialty">Heart</span>
                        </div>

                        <span class="booking-count">111,254 Bookings</span>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="doctor-image" class="doctor-img">
                        <div class="doctors-info">
                            <span class="name">Doctor2</span>
                            <span class="specialty">Nerve</span>
                        </div>

                        <span class="booking-count">125,654</span>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="doctor-image" class="doctor-img">
                        <div class="doctors-info">
                            <span class="name">Doctor3</span>
                            <span class="specialty">Eye</span>
                        </div>

                        <span class="booking-count">35,124</span>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="doctor-image" class="doctor-img">
                        <div class="doctors-info">
                            <span class="name">Doctor4</span>
                            <span class="specialty">Skin</span>
                        </div>

                        <span class="booking-count">120,000</span>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="doctor-image" class="doctor-img">
                        <div class="doctors-info">
                            <span class="name">Doctor5</span>
                            <span class="specialty">Therapist</span>
                        </div>

                        <span class="booking-count">512,325</span>
                        </img>
                    </div>
                </div>
            </div>
        </section>

        <section class="handbook">
            <div class="title-section">
                <span class="span-title">Handbooks</span>

                <div class="view-btn">
                    <a href="/">
                        <span>ALL POSTS</span>
                    </a>
                </div>
            </div>

            <div class="slide ">
                <div class="handbook-slide">
                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="image">
                        <div class="post-info">
                            <span class="post-title">My First Post</span>

                            <div class="content">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit...</div>
                        </div>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="image">
                        <div class="post-info">
                            <span class="post-title">My First Post</span>

                            <div class="content">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit...</div>
                        </div>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="image">
                        <div class="post-info">
                            <span class="post-title">My First Post</span>

                            <div class="content">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit...</div>
                        </div>
                        </img>
                    </div>

                    <div class="div-slide">
                        <img src="../images/specialty/speciality1.jpg" alt="image">
                        <div class="post-info">
                            <span class="post-title">My First Post</span>

                            <div class="content">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit...</div>
                        </div>
                        </img>
                    </div>
                </div>

            </div>
        </section>

        <section class="contact">
            <div class="left-side">
                <span class="title">For Doctors</span>

                <span class="second-title">Building credibility & online brand</span>

                <span class="third-title">Increasing the number of patients & effective management</span>

                <a href="/" class="contact-btn">
                    <span>Contact</span>
                </a>
            </div>

            <div class="right-side auto-resizable-iframe">
                <div>
                    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                        title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </section>

        <footer>
            <span>
                SomeHospitalMaybe &copy; &reg; &trade;
            </span>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/containerFunction.js"></script>
</body>

</html>